﻿@using Sitecore.Mvc
@using SitecoreDev.Foundation.SitecoreExtensions.Extensions
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@Html.Sitecore().Field("title", new { DisableWebEdit = true })</title>
    @* @Html.Sitecore().VisitorIdentification() *@

    <script type="text/javascript" src="~/Scripts/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/foundation.sitecoreextensions.css" />

</head>
<body class="@(Sitecore.Context.PageMode.IsExperienceEditor ? "edit-mode" : string.Empty)">
    <h1>@Html.Sitecore().Field("title")</h1>
    <div>fds
        @Html.Sitecore().Placeholder("main")
    </div>
</body>
</html>